{% extends "global/base.html" %}
{% block content %}
        <div class="main-content main-content-list container">
            {% include "Receita/partials/Container.html" %}
            {% include "Receita/partials/Container.html" %}
            {% include "Receita/partials/Container.html" %}
            {% include "Receita/partials/Container.html" %}
            {% include "Receita/partials/Container.html" %}
            {% include "Receita/partials/Container.html" %}
          </div>
{% endblock content %}
